# conda install -c pytorch -c nvidia -c conda-forge pytorch torchvision torchaudio pytorch-cuda=12.1
torchgeo
affine
colorlog
dask
scipy
pyyaml
requests
pynvml
geopandas
rioxarray
ipykernel
pystac-client
pytest